* {
    padding: 0;
    margin: 0
}

html, body {
    overflow-x: hidden;
}

@font-face {
    src: url(../font/Poppins-Medium.ttf);
    font-family: 'Poppins';
    font-weight: 400;
}

@font-face {
    src: url(../font/Roboto-Regular.ttf);
    font-family: 'Roboto';
    font-weight: 400;
}

h1,
h2,
a {
    font-family: 'Poppins' !important;
}

h3,
p {
    font-family: 'Roboto' !important;
}

input,
textarea {
    background: #f6f6f6 !important;
}

.navbar {
    padding: 0 !important;
}

.navbar-custom {
    overflow: hidden;
    background: #454764;
    transition: .4s;
    top: 0;
}

.nav-link a {
    color: #f6f6f6;
    font-size: 1rem;
}

.nav-link a:hover {
    color: #F6F6F6;
    border-bottom: 1px solid #f6f6f6;
    text-decoration: none;
}

.a-nav {
    margin-left: 10px;
}

.fa-bars {
    color: #F6F6F6;
    font-size: 35px;
}

.logo {
    width: 130px;
    padding: 10px;
    transition: .4s;
}

.home-part {
    background: linear-gradient(rgba(132, 220, 198, 0.9), rgba(132, 220, 198, 0.7)), url(../img/background-1747786.jpg);
    min-height: 60vh;
    background-attachment: fixed;
}

.home-content {
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.logo-home {
    width: 85%;
}

.title-home {
    font-size: 40px;
    color: #353434
}

.img-home {
    width: 100%;
}

.home-left {
    margin-top: 15%;
}

.home-right {
    margin-top: 5%;
}

.sobre-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.gray-part {
    overflow: hidden;
    background: #EBEEF1;
    min-height: 60vh;
}

.titleContent-black {
    font-size: 40px;
    color: #353434;
}

.subtitleContent-Black {
    font-size: 26px;
    color: #353434;
}

.textHead-sobre {
    margin-bottom: 25%;
}

.boxTitle-blue {
    position: relative;
    display: inline-block;
    margin-bottom: 3%;
}

.boxTitle-blue:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    margin: 10px auto;
    width: 60%;
    height: 6px;
    border-radius: 20px;
    background: #676fc0;
}

.boxCard-sobre {
    background-color: #fff;
    border-radius: 10px;
    min-height: 35vh;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 15px 25px 0;
}

.boxSpace-sobre {
    margin-top: 3%;
}

.boxSpace-sobre2 {
    margin-top: 3%;
}

.boxImg-sobre {
    width: 40%;
    margin-bottom: 2%;
}

.rocketImg {
    margin-left: 10%;
}

.boxSubtitle-sobre {
    font-size: 1.1rem;
    margin-top: 5%;
}

.equipe-part {
    background: linear-gradient(rgba(69, 71, 100, 0.9), rgba(69, 71, 100, 0.8)), url(../img/ice-2025937_1920.jpg);
    overflow: hidden;
    min-height: 60vh;
}

.equipe-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.titleContent-white {
    color: #F6F6F6;
    font-size: 40px;
}

.subtitleContent-white {
    color: #F6F6F6;
    font-size: 26px;
}

.boxTitle-green {
    position: relative;
    display: inline-block;
    margin-bottom: 3%;
}

.boxTitle-green:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    margin: 10px auto;
    width: 60%;
    height: 6px;
    border-radius: 20px;
    background: #84dcc6;
}

.boxCard-equipe {
    background-color: #fff;
    border-radius: 10px;
    min-height: 35vh;
    box-shadow: 3px 3px 3px #84dcc6;
    padding: 15px 25px 0;
}

.boxSpace-equipe {
    margin-top: 7%;
}

.boxSpace-equipe2 {
    margin-top: 7%;
}

.boxImg-equipe {
    border-radius: 100%;
    width: 86%;
    border: solid 2px #777bac;
}

.imgTitle-equipe {
    background: linear-gradient(to right, #8ff5db 0%, #32e9bb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imgSubtitle-equipe {
    color: #fff;
    font-size: 1.4rem;
}

.fab {
    transition: .5s;
    color: #676fc0;
}

.fab:hover {
    color: #8d96f3;
}

.fa-circle {
    color: #fff;
}

.fa-circle:hover {
    color: #f6f6f6;
}

.fa-2x {
    font-size: 1.6em;
}

.socialButton-equipe {
    margin-top: 5%;
    margin-bottom: 5%;
}

.background-footer {
    border-top: solid 2px #84dcc6;
    background: #454764;
    color: #fff;
}

.contato-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.alignContato-left {
    margin-top: 11%;
}

.alignContato-right {
    margin-top: 6%;
}

.boxCard-contato {
    background-color: #fff;
    border-radius: 10px;
    min-height: 35vh;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 15px 25px 0;
}

.form-row {
    margin-bottom: 5%;
}

.messageArea {
    resize: none;
}

.boxSpace-contato {
    margin-top: 3%;
}

.btn-custom {
    background-color: #8287c0;
    color: #fff;
}

.btn-custom:hover {
    transition: all .8s ease;
    background-color: #9aa1e9;
}

.toastTransition{
    transition: all 550ms ease-in-out;
}

.toast-header{
    background: #EF5354;
    color: white;   
    border-radius: 10px 10px 0px 0px; 
    padding: 10px;
}

.toast-body{
    background: white;
    padding: 10px;
    border-radius: 0px 0px 10px 10px
}

.toastText{
    color: white;
}