* {
    padding: 0;
    margin: 0;
}

@font-face{
    src: url(../font/Poppins-Medium.ttf);
    font-family: 'Poppins';
    font-weight: normal;
}

@font-face{
    src: url(../font/Roboto-Regular.ttf);
    font-family: 'Roboto';
    font-weight: normal;
}

h1, h2, a{
    font-family: 'Poppins' !important;
}

h3, p{
    font-family: 'Roboto' !important;
}

input, textarea{
    background: #f6f6f6 !important;
}

.navbar{
    padding: 0px !important;
}
.navbar-custom {
    overflow: hidden;
    background: rgb(69, 71, 100);
    transition: 0.4s;
    top: 0;
}

.nav-link a{
    color: rgb(246, 246, 246);
    font-size: 1rem;
}

.nav-link a:hover{
    color: #F6F6F6;
    border-bottom: 1px solid rgb(246, 246, 246);
    text-decoration: none;
}

.a-nav{
    margin-left: 10px; 
}

.fa-bars {
    color: #F6F6F6;
    font-size: 35px;
}

.logo {
    width: 130px;
    padding: 10px;
    transition: 0.4s;
}

.home-part{
    background: linear-gradient(rgba(132, 220, 198, 0.9),rgba(132, 220, 198, 0.7)), url('../img/background-1747786.jpg');
    min-height: 60vh;
}

.home-content{
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.logo-home{
    width: 85%;
}

.title-home{
    font-size: 40px;
    color: #353434;
}

.img-home{
    width: 100%; 
}

.home-left{
    margin-top: 15%;
}

.home-right{
    margin-top: 5%;
}

.sobre-content{
    padding-top: 50px;
    padding-bottom: 50px;
}

.gray-part{
    overflow: hidden;
    background: #EBEEF1;
    min-height: 60vh;
}

.titleContent-black{
    font-size: 40px;
    color: #353434;
}

.subtitleContent-Black{
    font-size: 26px;
    color: #353434;
}

.textHead-sobre{
    margin-bottom: 25%;
}

.boxTitle-blue{
    position:relative;
    display:inline-block;
    margin-bottom: 3%;
}

.boxTitle-blue:after{
    content:'';
    position:absolute;
    left:0; right:0;
    top:80%;
    margin:10px auto;
    width:60%;
    height:6px;
    border-radius: 20px;
    background:rgb(103, 111, 192);
}

.boxCard-sobre{
    background-color: white;
    border-radius: 10px;
    min-height: 35vh;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 15px 25px 0px 25px;
}

.boxSpace-sobre{
    margin-top: 3%;
}

.boxSpace-sobre2{
    margin-top: 3%;
}

.boxImg-sobre{
    width: 40%;
    margin-bottom: 2%;
}

.rocketImg{
    margin-left: 10%;
}

.boxSubtitle-sobre{
    font-size: 1.1rem;
    margin-top: 5%;
}

.equipe-part{
    background: linear-gradient(rgba(69, 71, 100, 0.9),rgba(69, 71, 100, 0.8)), url('../img/ice-2025937_1920.jpg');
    overflow: hidden;
    min-height: 60vh;
}

.equipe-content{
    padding-top: 50px;
    padding-bottom: 50px;
}

.titleContent-white{
    color: #F6F6F6;
    font-size: 40px;
}

.subtitleContent-white{
    color: #F6F6F6;
    font-size: 26px;
}

.boxTitle-green{
    position:relative;
    display:inline-block;
    margin-bottom: 3%;
}

.boxTitle-green:after{
    content:'';
    position:absolute;
    left:0; right:0;
    top:80%;
    margin:10px auto;
    width:60%;
    height:6px;
    border-radius: 20px;
    background:rgb(132, 220, 198, 1);
}

.boxCard-equipe{
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 35vh;
    box-shadow: 3px 3px 3px rgb(132, 220, 198, 0.5);
    padding: 15px 25px 0px 25px;
}

.boxSpace-equipe{
    margin-top: 7%;
}

.boxSpace-equipe2{
    margin-top: 7%;
}

.boxImg-equipe{
    border-radius: 100%;
    width: 86%;
    border: solid 2px rgb(119, 123, 172);
}

.imgTitle-equipe{
    background: linear-gradient(to right, rgb(143, 245, 219) 0%, rgb(50, 233, 187) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.imgSubtitle-equipe{
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
}

.fab{
    transition: 0.5s;
    color: rgb(103, 111, 192);
}

.fab:hover{
    color: rgb(141, 150, 243);
}

.fa-circle{
    color: white;
}

.fa-circle:hover{
    color: #f6f6f6;
}

.fa-2x {
    font-size: 1.6em;
}

.socialButton-equipe{
    margin-top: 5%;
    margin-bottom: 5%;
}

.background-footer{
    border-top:solid 2px rgb(132, 220, 198, 1);
    background: rgb(69, 71, 100);
    color: white;
}

.contato-content{
    padding-top: 50px;
    padding-bottom: 50px;
}

.alignContato-left{
    margin-top: 11%;
}

.alignContato-right{
    margin-top: 6%;
}

.boxCard-contato{
    background-color: white;
    border-radius: 10px;
    min-height: 35vh;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 15px 25px 0px 25px;
}

.form-row{
    margin-bottom: 5%;
}
.messageArea{
    resize: none;
}

.boxSpace-contato{
    margin-top: 3%;
}

.btn-custom{
    background-color: rgb(130, 135, 192);
    color: white;
}

.btn-custom:hover{
    transition: all .8s ease;
    background-color: rgb(154, 161, 233);
}